.side-nav {
  width: 220px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  box-sizing: border-box;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 15px;
}

.side-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s;
}

.side-nav a:hover,
.side-nav a.active {
  background-color: #34495e;
}
.sub-menu {
  padding-left: 20px;
  margin: 0;
  transition: height 0.3s ease-in-out;
}
.arrow-icon {
  display: inline-block;
  margin-left: 8px;
  transition: transform 300ms ease-in-out;
}
