<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="custom-sidenav"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               role="navigation">
    <mat-nav-list>
      <ng-container *ngFor="let nav of menuItems">
        <a mat-list-item
           *ngIf="!nav.children"
           [routerLink]="nav.route"
           routerLinkActive="active-link">
          <span mat-line>{{ nav.label }}</span>
        </a>

        <div *ngIf="nav.children">
          <a mat-list-item (click)="toggleSubMenu(nav)">
            <span mat-line>{{ nav.label }}</span>
            <mat-icon class="expand-icon" [@arrowRotate]="nav.expanded ? 'expanded' : 'collapsed'">
              expand_more
            </mat-icon>
          </a>

          <div class="submenu"
               [@submenu]="nav.expanded ? 'expanded' : 'collapsed'">
            <a mat-list-item
               *ngFor="let child of nav.children"
               [routerLink]="child.route"
               routerLinkActive="active-link"
               class="sub-item">
              <span mat-line>{{ child.label }}</span>
            </a>
          </div>
        </div>

      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
</mat-sidenav-container>
