.app-container {
  display: flex;
  height: 100vh; /* full viewport height */
  width:  100%;
}

/* Optional: style the side nav */
app-side-nav {
  width: 250px;       /* fixed sidebar width */
 }

/* Make router-outlet take remaining space */
router-outlet {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

mat-sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

