.sidenav-container {
  height: 100vh;
}

.custom-sidenav {
  width: 280px;
  background-color: #2c3e50;
  color: white;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  padding: 16px;
}

.submenu {
  color: white;
  padding-left: 16px;
}

.sub-item {
  font-size: 14px;
}

.expand-icon {
  margin-left: auto;
   align-items: center;
 }

.custom-sidenav a.mat-list-item {
  display: flex;
  align-items: center;
}


/* Make nav item labels white */
.custom-sidenav a.mat-list-item,
.custom-sidenav a.mat-list-item span[mat-line],
.custom-sidenav .submenu a.mat-list-item,
.custom-sidenav .submenu a.mat-list-item span[mat-line] {
  color: white !important;
}
